{% extends 'base.html' %} 
{% block title %}Golf Groups{% endblock  %}
{% block content %}
<main>
    <div>
        <h1>List of groups</h1>
        <p>Let's find you a group.</p>
    </div>
    <div class="filter__wrap">
        <div class="filter__btn">
            <span>Filter</span>
            <img src="../static/images/filter.svg">
        </div>
        <div class="filter__btn is--active-filter">
            <img src="../static/images/x.svg">
            <span>Pebble Beach</span>
        </div>
        <div class="filter__active-qs"></div>
    </div>
    {% for group in groups %}
    <div class="group__card">
    
        <div class="group__section is--posters-info">
            <img class="group__profile-img">
            <div class="flex-column flex-center-vert">
                <span class="group__username">{{group.creator}}</span>
                <span class="group__game-type">{{group.game_type}}</span>
            </div>
        </div>
        <div class="group__section">
            <div class="flex-column flex-center-vert h-full flex-gap-4">
                <div class="flex-row ">
                    <img class="group__img-bullet" src="../static/images/flag__icon.svg">
                    <span>{{group.golf_course}}</span>
                </div>
                <div class="flex-row ">
                    <img class="group__img-bullet" src="../static/images/icon__clock.svg">
                    <span>{{group.tee_date}} | {{group.tee_time}}</span>
                </div>
            </div>
        </div>
        <div class="group__section">
            
        </div>
        <div class="group__section flex-row justify-end">
                <figure class="elipses__bg">
                    <div></div>
                    <div></div>
                    <div></div>
                </figure>
            <button class="group__cta">Request to join</button>
        </div>
    </div>
    <div class="update-popup__bg">
        <div class="update-popup__wrap">
            <a href="{% url 'group_delete' group.pk %}">Delete</a>
            <div class="divider"></div>
            <a href="{% url 'group_update' group.pk %}">Edit</a>
            <div class="divider"></div>
            <a crud-popup-cancel>Cancel</a>
        </div>
    </div>
</main>
{% endfor %}
{% endblock %}