{% extends 'base.html' %} 
{% block title %}Golf Groups{% endblock  %}
{% block content %}
<main>
    <div style="margin-bottom: 56px;">
        <h1>List of groups</h1>
        <p>Let's find you a group.</p>
    </div>
    {% comment %} <div class="filter__wrap">
        <div class="filter__btn">
            <span>Filter</span>
            <img src="../static/images/filter.svg">
        </div>
        <div class="filter__btn is--active-filter">
            <img src="../static/images/x.svg">
            <span>Pebble Beach</span>
        </div>
        <div class="filter__active-qs"></div>
    </div> {% endcomment %}
    {% for group in groups %}
    <div class="group__card">
        <div class="flex-row flex-center-vert" id="group__info">
            <div class="flex-row flex-center-vert">
            <a href="{% url 'profile' group.creator.profile.id %}">
            {% if group.creator.profile.profile_img %}
                <img class="group__profile-img" src="{{ group.creator.profile.profile_img.url }}">
            {% else %}
                <img class="group__profile-img" src="main_app/media/profile/profile-image-default.jpeg">
            {% endif %}
            </a>
                <div class="flex-column flex-center-vert">
                    <span class="group__username">{{group.creator.username}}</span>
                    <span class="group__game-type">{{group.game_type}}</span>
                </div>
            </div>
            <div>
                <div class="flex-column flex-center-vert h-full flex-gap-4">
                    <div class="flex-row ">
                        <img class="group__img-bullet" src="../static/images/flag__icon.svg">
                        <span>{{group.golf_course}}</span>
                    </div>
                    <div class="flex-row ">
                        <img class="group__img-bullet" src="../static/images/icon__clock.svg">
                        <span>{{group.tee_date}} | {{group.tee_time}}</span>
                    </div>
                </div>
            </div>
            <div id="group__members-wrap">
                {% for member in group.members.all %}
                <a href="{% url 'profile' member.profile.id %}">
                {% if member.profile.profile_img %}
                <img class="group__member" src="{{ member.profile.profile_img.url }}">
                {% else %}
                <img class="group__member" src="main_app/media/profile/profile-image-default.jpeg">
                {% endif %}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="flex-row">
            {% if user.is_authenticated and group.creator.id == user.id %}
                <figure class="elipses__bg">
                    <div></div>
                    <div></div>
                    <div></div>
                </figure>
            {% endif %}
            {% if group.creator.id != user.id %}
            <form action="{% url 'member_group' group.pk %}" method="POST">
                {% csrf_token %}
                {% if user in group.members.all %}
                    <button type="submit" name="group_id" value="{{ group.id }}" class="group__cta --red-btn">Leave</button>
                {% else %}
                    <button type="submit" name="group_id" value="{{ group.id }}" class="group__cta">Join</button>
                {% endif %}
            </form>
            {% endif %}
        </div>
    </div>
    <div class="update-popup__bg">
        <div class="update-popup__wrap">
            <a href="{% url 'group_delete' group.pk %}">Delete</a>
            <div class="divider"></div>
            <a href="{% url 'group_update' group.pk %}">Edit</a>
            <div class="divider"></div>
            <a crud-popup-cancel>Cancel</a>
        </div>
    </div>
</main>
{% endfor %}
{% endblock %}